<%= simple_form_for(@input) do |f| %>
  <% if @input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
      <% @input.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%# IF the item is not already in the food system%>
  <%# if @input.input_is_not_already_assigned_to_food == "true" %>
        <div class="field">
          <%= f.label :name, label: "Food" %><br>
          <%= f.select :food_id, Food.all.map{|e| [e.name, e.id]}, prompt: "I have..." %>
        </div>
        <div class="field">
          <%= f.input :quality, collection: ['Excellent','Ok','Bad'], as: :radio_buttons, label: "Quality" %>        
        </div>
        <div class="field">
          <%= f.label :exp_date, label: "Expiration date (optional)" %><br>
          <%= f.date_select :exp_date, prompt: "Select", required: false %>
        </div>
        <div class="field">
          <%= f.label :num_days, label: "I want to nom in ... days" %><br>
          <%= f.number_field :num_days, required: false %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
  <%# else %>

  <%# end %>


















<% end %>
