<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
<div id="piechart" style="width: 30%; height: 500px;"></div>
<div id="rotten food">
<table id = "dash1">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Quality</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if !@inputorder.blank? %>
    <% @inputorder.each do |input| %>
      <tr>
        <td><%= input.date %></td>
        <td><%= link_to input.name, input %></td>
        <td><%= input.quality %></td>
        <td><%= link_to 'Edit', edit_input_path(input) %></td>
        <td><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>

<div id="rotten food">
<table id = "dash1">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Quality</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if !@inputorder.blank? %>
    <% @inputorder.each do |input| %>
      <tr>
        <td><%= input.date %></td>
        <td><%= link_to input.name, input %></td>
        <td><%= input.quality %></td>
        <td><%= link_to 'Edit', edit_input_path(input) %></td>
        <td><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>

<div id="rotten food">
<table id = "dash1">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Quality</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if !@inputorder.blank? %>
    <% @inputorder.each do |input| %>
      <tr>
        <td><%= input.date %></td>
        <td><%= link_to input.name, input %></td>
        <td><%= input.quality %></td>
        <td><%= link_to 'Edit', edit_input_path(input) %></td>
        <td><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
  
    



<br>


