<!DOCTYPE html>
<html>
<head>
  <title>Noms</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <% if logged_in? %>
    <%= link_to 'Logout', logout_path %>
    <br>[<%= current_user.username %>]
  <% else %>
    <%= link_to 'Login', login_path %>
    <%= link_to 'Register', signup_path %>
  <% end %>
<%= yield %>
<%= render :partial => "partials/nav" %>

<div class="row">
      <div class="small-12 columns" id="main_content">
        <%= render :partial => "partials/flash" %>
        <%= yield %>
     </div>
</div>

</body>
</html>
